[Desktop Entry]
Name=Tic Tac Toe
Comment=Play Tic Tac Toe with Bot or Friend
Exec=python3 {EXEC_PATH}
Icon=tictactoe
Terminal=false
Type=Application
Categories=Game;
